.container {
  width: 100%;
  grid-column: 1 /6;
  grid-row: auto;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0px 24px 64px 24px;
  gap: 24px;
  &__contentMask {
    padding-top: 32px;
    padding-bottom: 48px;
    padding-left: 120px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  &__contentTop {
    display: flex;
    gap: 12px;
    align-items: center;
    &__div {
      display: flex;
      flex-direction: column;
    }
    &__span {
      width: max-content;
      display: flex;
      gap: 4px;
      border-radius: 4px;
      padding: 2px 8px;
      background: linear-gradient(86.01deg, #00f4e2 0%, #00ff7f 100%);
      font-family: "BR Sonoma", sans-serif;
      font-weight: 700;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.4px;
      color: #03050f;
    }
    &__h1 {
      font-family: "BR Sonoma", sans-serif;
      font-weight: 700;
      font-size: 28px;
      line-height: 36px;
      letter-spacing: 0;
      color: #03050f;
    }
  }
  &__line {
    border: 1px solid #ccd1ee;
  }

  &__contentForm {
    display: flex;
  }
}

.userForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 24px;

  &__text {
    font-family: "BR Sonoma", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
  }
  &__link {
    font-family: "BR Sonoma", sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.1px;
    text-decoration: underline;
  }
}

@media screen and (width > 768px) {
  .container {
    grid-column: 1/12;
    grid-row: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    padding: 0px;
    &__contentTop {
      display: flex;
    }
    &__contentForm {
      padding: 32px 216px 80px 128px;
      gap: 24px;
    }
  }
}
