.userForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 24px;

  &__subTitle {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
  }

  &__link {
    font-family: "BR Sonoma", sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.1px;
    text-decoration: underline;
  }
}

@media screen and (width > 768px) {
}
