@use "./fonts";
@use "./variables" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "BR Sonoma", sans-serif;
  background-color: #fff;
  color: var(--color-secondary);
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
  cursor: pointer;
}
