@import "./grid.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "BR Sonoma", sans-serif;
  background-color: #fff;
  color: var(--color-secondary);
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
  cursor: pointer;
}

main {
  background: var(--neutral-0);
  margin: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;

  @media screen and (width >=1024px) {
    grid-template-columns: repeat(11, 1fr);
  }
}
