@font-face {
  font-family: "BR Sonoma";
  src: url("/fonts/br-sonoma/BRSonoma-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BR Sonoma";
  src: url("/fonts/br-sonoma/BRSonoma-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "BR Sonoma";
  src: url("/fonts/br-sonoma/BRSonoma-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BR Sonoma";
  src: url("/fonts/br-sonoma/BRSonoma-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "BR Sonoma";
  src: url("/fonts/br-sonoma/BRSonoma-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BR Sonoma";
  src: url("/fonts/br-sonoma/BRSonoma-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "BR Sonoma";
  src: url("/fonts/br-sonoma/BRSonoma-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BR Sonoma";
  src: url("/fonts/br-sonoma/BRSonoma-RegularItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "BR Sonoma";
  src: url("/fonts/br-sonoma/BRSonoma-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BR Sonoma";
  src: url("/fonts/br-sonoma/BRSonoma-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "BR Sonoma";
  src: url("/fonts/br-sonoma/BRSonoma-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BR Sonoma";
  src: url("/fonts/br-sonoma/BRSonoma-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "BR Sonoma";
  src: url("/fonts/br-sonoma/BRSonoma-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BR Sonoma";
  src: url("/fonts/br-sonoma/BRSonoma-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "BR Sonoma";
  src: url("/fonts/br-sonoma/BRSonoma-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BR Sonoma";
  src: url("/fonts/br-sonoma/BRSonoma-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
