@font-face {
  font-family: "BR Sonoma";
  src: url("../assets/fonts/br-sonoma/BRSonoma-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BR Sonoma";
  src: url("../assets/fonts/br-sonoma/BRSonoma-ExtraLight.otf")
    format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BR Sonoma";
  src: url("../assets/fonts/br-sonoma/BRSonoma-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BR Sonoma";
  src: url("../assets/fonts/br-sonoma/BRSonoma-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BR Sonoma";
  src: url("../assets/fonts/br-sonoma/BRSonoma-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BR Sonoma";
  src: url("../assets/fonts/br-sonoma/BRSonoma-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BR Sonoma";
  src: url("../assets/fonts/br-sonoma/BRSonoma-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BR Sonoma";
  src: url("../assets/fonts/br-sonoma/BRSonoma-Black.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
