.containerMain {
  width: 100%;
  max-width: 1360px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .containerMain {
    padding: 0px;
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }
}

@media screen and (min-width: 1024px) {
  .containerMain {
    padding: 0px;
    grid-template-columns: repeat(11, minmax(0, 1fr));
  }
}
