.plans {
  padding: 2rem;
  grid-column: 1 / 6;
  grid-row: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: #fafbff;

  &__contentTop {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
  }

  &__title {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -0.2px;
  }

  &__subtitle {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: Bold;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.1px;
  }

  &__content {
    display: flex;
    gap: 16px;
    flex-direction: column;
    padding: 16px 24px 40px 24px;
    border-radius: 24px;
    background-color: #ffffff;
    &__top {
      display: flex;
      align-items: center;
    }
    &__box {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }

  &__toggle {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
  }

  &__card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    padding: 1.5rem;
    cursor: pointer;
    background-color: #fff;
    padding-top: 40px;
    padding-right: 32px;
    padding-bottom: 48px;
    padding-left: 32px;
    gap: 24px;

    border-radius: 24px;

    &--selected {
      border-color: #d32f2f;
      background-color: #fff0f0;
    }

    &_title {
      margin: 0 0 0.5rem 0;
      font-weight: bold;
    }

    &_price {
      margin-bottom: 0.5rem;
      font-size: 1.2rem;
    }

    &_benefits {
      display: flex;
      min-height: 313px;
      flex-direction: column;
      gap: 24px;
      padding-left: 1.2rem;
    }

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__card_price {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: Black;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.2px;
    display: flex;
    flex-direction: column;
    gap: 4px;

    &_symbol {
      font-weight: 700;
      color: #141938;
    }

    &_month {
      font-family: "Lato", sans-serif;
      font-weight: 900;
      font-style: Black;
      font-size: 20px;
      line-height: 28px;
      letter-spacing: -0.2px;
      color: #141938;
    }

    &_old {
      color: #7981b2;
      text-decoration: line-through;
      font-size: 14px;
    }

    &_discounted {
      color: #141938;
      font-weight: 700;
    }
    &_label {
      font-size: 12px;
      line-height: 16px;
      font-weight: 900;
      letter-spacing: 0.6px;
      color: #7981b2;
      text-transform: uppercase;
    }
  }

  &__toggle_checkbox {
    appearance: none;
    width: 24px;
    height: 24px;
    border: 2px solid #ccd1d9;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    position: relative;
    margin-left: auto;
    transition: all 0.2s ease;

    &:checked {
      background-color: #389e0d;
      border-color: #389e0d;
    }

    &:checked::after {
      content: "";
      position: absolute;
      left: 6px;
      top: 2px;
      width: 6px;
      height: 12px;
      border: solid #ffffff;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }
}

@media screen and (width > 768px) {
  .plans {
    grid-column: 1 / 12;
    grid-row: auto;
    min-height: 87.5vh;

    &__toggle {
      display: flex;
      gap: 32px;
      flex-direction: row;
      justify-content: center;
    }

    &__content {
      max-width: 256px;
      &__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
      }
    }

    &__card {
      max-width: 288px;
    }

    &__list {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      margin-bottom: 2rem;
    }
  }
}
